.env
node_modules
/src/logs
*.log
localStorage.json
start.bat
mqttLocalConnect.ts
topicData.txt
decrypt copy.js
.env copy
.env.enc
.env.ncc
decrypt.js
app copy.ts
app.ts copy
src/mqttBootstrap copy.js